/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
/var/cache/dev/*
/var/cache/prod/*
!var/cache/.gitkeep
!var/cache/dev/.gitkeep
!var/cache/prod/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
/var/sessions/dev/*
!var/sessions/.gitkeep
!var/sessions/dev/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
.idea/*
