
* {
    outline:none !important;
    -moz-outline: none !important;
}

/* Main */
body {
    overflow-x: hidden;
}

/* Stat boxes and quick actions */
.quick-actions_homepage{
    width:100%;
}

.quick-actions {
    display: inline-block;
}

.area-blocks {
    background: #F6F6F6;
    border: 2px solid #D5D5D5;
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
}

.area-blocks:hover {
    background: #fff;
}

.total-values {
    display: block;
    padding: 8px;
}

.total-values div {
    color: #666666;
}

.area-blocks a i[class^="icon-"], .area-blocks a i[class*=" icon-"] {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: 0 0;
    background-color: transparent;
    width: 36px;
    height: 36px;
    display: block;
    margin: auto;
}

.area-blocks i.icon-cabinet {
    background-image: url('../img/icons/32/cabinet.png');
}

.area-blocks:active  {
    background-image: -webkit-gradient(linear, 0 0%, 0 100%, from(#EEEEEE), to(#F4F4F4));
    background-image: -webkit-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: -moz-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: -ms-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: -o-linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
    background-image: linear-gradient(top, #EEEEEE 0%, #F4F4F4 100%);
}